@import url(https://fonts.googleapis.com/css?family=Open+Sans:wght@300;408;500;600;788&display-swap); 

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    margin: 0; 
    padding: 0;
    background: #ffffff;
    height: 1000px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    align-content: center;
}
.container{
    width: 100%;
    border: 10cm;
}
body, ul {
    margin: 0;
    padding: 0;
    height: 100%;
  }
.logo
{
  position: relative;
  font-size: 40px;
  margin-left: -144px;
  margin-right: 168px;
  color: rgb(255, 255, 255);
  padding: auto;
  width: 350px;
  height: 75px;
  color: #394657;
  text-shadow: 0 1px 0 #CACACA;
  background-color: transparent;
  border: none;
  outline: none;
            
}
.navbar
{
    background-color: white;  
    border-bottom: 1px solid rgb(225, 225, 225);
    height: 55px; 
    position: absolute;
    overflow: hidden;
    top: 0; 
    width: 100%; 
    position: fixed;
    z-index: 2;
}

.widgets
{ display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: Manrope,sans-serif;
  width: 100%;
  margin-left: 730px;
}
.widgets li
{
  display: inline-flex;
  align-items: center;
  padding: 0.625rem 1rem;
  font-size: .875rem;
  color: #73879e;
  font-weight: 600;
  letter-spacing: -.01em;
}
.ion-earth
{
  font-family: 'ionicons' !important;
    speak-as: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.emergency-widget
{
  background-color: red;
}
 .emergency {
  color: white;
  font-size: .875rem;
  padding: -2.1875rem 1rem;
  width: auto;
  display: flex;
 
}

/*
.navbar li
{
    display: inline-block;
    padding: 15px 30px;
    
}
.search-container
{
  float: right;
  padding-right: 400px;
}
.input {
  padding: 10px;
  width: 50px;
  height: 50px;
  background: none;
  border: 2px solid #ffffff;
  border-radius: 50%;
  box-sizing: border-box;
  font-family: Comic Sans MS;
  font-size: 26px;
  color: #100404;
  outline: none;
  transition: .5s;
}
.box:hover input{
  width: 350px;
  background: #ffffff;
  border-radius: 10px;
}
.box i{  search icon
  position: absolute;
  top: 50%;
  right: 1px;
  transform: translate(-50%,-50%);
  font-size: 26px;
  color: #ffffff;
  transition: .2s;
}
.box:hover i{
  opacity: 0;
  z-index: -1;
} 

/*NAVBAR 2*/

.navbar2 
{
    background-color: #ffffff;
    height: 80px;
    top: 50px;
    width: 100%;
    position: absolute;
    box-shadow: -12px 1px 2px 0px;
}

.list
{
  list-style-type: none;
}
.navbar2 ul {
  display: flex;
  padding-left: 148px;
  background-color: transparent;
  width: 100%;
  overflow: hidden;
}
.nav_opt
{
  margin: 10px;
  margin-left: 130px;
  display: flex;
  font-family: Lato,sans-serif;
  font-weight: bold;
  color: black;
}
.nav_opt li
{
  color: black;
  margin: 20px;
}

.nav_opt a:link
{
  color: black;
  text-decoration: none;
}
.nav_opt a:visited
{
  text-decoration: none;
}
.nav_opt li:hover
{
  margin-bottom: 0px;
  color: rgb(92, 147, 195);
  border-bottom: 3px solid rgb(92, 147, 195);
}
.nav_opt a:active
{
  color: rgb(92, 147, 195);
}
.btn 
{
  
  background-color: transparent;
  font-size: 14px;
}

/*
.list-choice{
  cursor: pointer;
  padding-top: 22px;
}
.list-choice input[type="radio"]{
  position:absolute;
  left:-9999px;
}

.list-choice-title {
text-align: center;
box-sizing: border-box;
color: #000000;
border-radius: 0.2em;
font-size: 14px;
font-family: Arial, Helvetica, sans-serif;
}
.list-choice:hover .list-choice-title {
border-radius:0 0 0 0;
border-bottom: 5px solid white;
}
.list-choice-objects label:nth-last-of-type(1) span{
  border-radius:0 0 0.2em 0.2em;
}
.list-choice input[type="radio"] + span {
color: #000000;
background: #ffffff;
padding: 0.55em 1em;
display: block;
text-align: center;
box-sizing: border-box;
cursor: pointer;
width: 100%;
}
.list-choice-objects {
  position: relative;
  top: 25px;
box-sizing: border-box;
overflow: hidden;
width: 100%;
max-height: 0;
transition: all 250ms ease;

}
.list-choice:hover .list-choice-objects  input[type="radio"] + span {
position: relative;
top: 0;
transition: all 250ms ease-in-out;
}
.list-choice:hover input[type="radio"] + span:hover {
background:aliceblue;
}
.list-choice:hover input[type="radio"]:checked + span:hover {
background:#74D68E;
}
.list-choice input[type="radio"]:checked + span {
background: #74D68E;
position: absolute;
top: 0em;
border-radius: 0.2em;
}
.list-choice:hover input[type="radio"]:checked + span {
border-radius: 0;
}
.list-choice:hover .list-choice-objects label:nth-last-of-type(1) input[type="radio"]:checked + span{
  border-radius:0 0 0.2em 0.2em;
}

.list-choice:hover .list-choice-objects {
max-height: 540px;
}
*/





.navbar2 button:last-child
{
  float: right;
  padding-right: 20px;
}

.bgimg
{
  margin-top: 135px;
  height: 675px;
  top: 200px;
  overflow: hidden;
  background-image: url(Backdrop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.bgimg h1
{
  position: relative;
    top: 210px;
    /* padding-top: 20px; */
    margin-left: 81px;
    font-size: 46px;
    /* font-weight: 800; */
    transition: none 0s ease 0s;
}
.bgimg p{
  width: 450px;
    margin-left: 86px;
    padding-top: 215px;
    letter-spacing: 2px;
    line-height: 28px;
    color: #484848;
    font-size: 1rem;
    font-family: Lato,sans-serif;
    font-weight: 400;
}
.navbar3
{
  background-color: #2a3947; 
  height: 110px; 
  top: 0px; 
  width: 100%; 
  position: relative;
  
}
.navbar3 ul {
  display: flex;
  padding-top: 12px;
  padding-left: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  position: absolute;
  border-bottom: 3px solid transparent;
}
.navbar3 h2
{
  color: white;
  font-size: 36px;
  padding-top: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  text-align: left;
  margin-left: 55px;
}
.book_btn a:link
{
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.book_btn a:visited
{
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.book_btn li:hover
{
  margin-bottom: 0px;
  border-bottom: 3px solid rgb(92, 147, 195);
}
.book_btn a:active
{
  color: black;
}
.book_btn
{ width: 260px;
  position: absolute;
  color: rgb(255, 255, 255);
  background-color: #37495b;
  border: none;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 15px;
  float: right;
  margin-left: 269px;
  margin-top: 14px;
  margin-right: auto;
  overflow: hidden;
  transition-duration: 0.4s;
  text-decoration: none;
}
.book_btn :hover
{ 
  color: aliceblue;
  background-size: cover;
}
.abt_hosp
{
  display: flex;
}
.abt_hosp img
{
  width: 545px;
  margin: 90px;
}
.abt_hosp .content h3
{
  font-family: sans-serif;
    font-size: 32px;
    margin: 10px;
}
.abt_hosp .content p
{
  margin: 20px 10px;
    font-family: sans-serif;
    line-height: 20px;
}
.abt_hosp .content
{
  width: 500px;
    position: relative;
    top: 130px;
    margin-left: -46px;
    z-index: -1;
}
.abt_hosp .content .h3
{
  font-family: Lato,sans-serif;
    text-align: center;
    padding-top: 20px;
    margin: 20px;
    font-size: 36px;
    padding-bottom: 20px;
}
.content .btn1
{
  background-color: #394657;
  width: 250px;
  height: 60px;
  position: relative;
  top: 20px;
  border-radius: 5px;
  box-shadow: 0.125rem 0.125rem 0.313rem rgb(0 0 0 / 36%);
}
.content .btn1 a
{
  text-decoration: none;
    color: white;
    position: relative;
    margin: 52px;
    top: 20px;
    font-size: 18px;
    font-family: sans-serif;
}
.docs
{
  z-index: -1;
    display: block;
    color: white;
    height: 550px;
    top: 5px;
    width: 100%;
    position: relative;
    background-color: #427cc5!important;
}
.docs h2
{
  text-align: center;
    color: #ffffff;
    font-size: 48px;
    font-family: sans-serif;
    font-weight: 600;
    padding-top: 65px;
}
.medicons
{
  position:absolute;
  display: inline-flex;
}
.medicons li
{
  position: relative;
  display: inline-block;
  margin: 50px;
  border: #ffffff;
  border: #000;
  outline: #000;
  margin: 61px 140px 134px 180px;
}
.medicons .fa-calendar
{
  color: #427cc5;
  position: absolute;
  margin-left: 32px;
  margin-top: 28px;
}
.calender
{
  background-color: #ffffff;
  height: 100px;
  width: 100px;
  border: 5px solid 0DB26B;
  border-radius: 100%;
  box-shadow: 0.125rem 0.125rem 0.313rem rgb(0, 0, 0);
}
.calender h3
{
  color: white;
  position: absolute;
  margin-top: 132px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-left: -47px ;
  font-size: 32px;
  font-weight: 600;
}
.calender p{
  color: white;
  position: absolute;
  margin-top: 222px;
  font-family: Lato,sans-serif;
  text-align: center;
  margin-left: -114px;
  font-size: 16px;
  font-weight: lighter;
  width: 335px;
  line-height: 1.7em;
  opacity: 0.8;
}

.medicons .fa-hospital-o
{
  color: #427cc5;
  position: absolute;
  margin-left: 35px;
  margin-top: 29px;
}
.hospital
{
  background-color: #ffffff;
  height: 100px;
  width: 100px;
  border: 5px solid 0DB26B;
  border-radius: 100%;
  box-shadow: 0.125rem 0.125rem 0.313rem rgb(0, 0, 0);
}
.hospital h3
{
  color: white;
  position: absolute;
  margin-top: 132px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-left: -45px;
  width: 200px;
  font-size: 32px;
  font-weight: 600;
}
.hospital p{
  color: white;
    position: absolute;
    margin-top: 222px;
    font-family: Lato,sans-serif;
    text-align: center;
    margin-left: -114px;
    font-size: 16px;
    font-weight: lighter;
    width: 335px;
    line-height: 1.7em;
    opacity: 0.8;
}
.medicons .fa-user-md
{
  color: #427cc5;
  position: absolute;
  margin-left: 36px;
  margin-top: 28px;
}
.usermd
{
  background-color: #ffffff;
  height: 100px;
  width: 100px;
  border: 5px solid 0DB26B;
  border-radius: 100%;
  box-shadow: 0.125rem 0.125rem 0.313rem rgb(0, 0, 0);
}
.usermd h3
{
  color: white;
  position: absolute;
  margin-top: 132px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-left: -47px ;
  width: 200px;
  font-size: 32px;
  font-weight: 600;
}
.usermd p{
  color: white;
    position: absolute;
    margin-top: 222px;
    font-family: Lato,sans-serif;
    text-align: center;
    margin-left: -114px;
    font-size: 16px;
    font-weight: lighter;
    width: 335px;
    line-height: 1.7em;
    opacity: 0.8;
}
.departments h3{
  position: relative;
    top: 40px;
    text-align: center;
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 600;
}
.departments p
{
  position: relative;
    color: gray;
    top: 37px;
    font-family: sans-serif;
    text-align: center;
    margin: 10px;
    opacity: 0.8;
    letter-spacing: 0.6px;
}
.departments img
{
  margin: 81px 31px;
    width: 1200px;
}

.consultation
{
  height: 399px;
  background-image: url(bg3.jpg);
  background-size: cover;
  background-position: center bottom;
  padding-bottom: 5rem!important;
}
.consultation h3{
  width: 100%;
    position: relative;
    font-family: sans-serif;
    font-size: 32px;
    padding-left: 600px;
    padding-top: 58px;
    z-index: 1;
}
.consultation p{
  width: 90%;
    position: relative;
    font-family: sans-serif;
    font-size: 18px;
    color: #383838;
    opacity: 0.8;
    padding-left: 602px;
    padding-top: 14px;
    z-index: 1;
    letter-spacing: 0.3px;
    font-weight: 500;
    display: block;
    line-height: 1.7em!important;
}
.vc
{
  position: relative;
    width: 240px;
    height: 55px;
    margin-top: 28px;
    margin-left: 603px;
    background-color: #427cc5;
    border-radius: 5px;
    box-shadow: 0.125rem 0.125rem 0.313rem rgb(0 0 0 / 36%);
}
.vc a
{
  text-decoration: none;
    color: white;
    margin-left: 30px;
    position: relative;
    top: 17px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.vc i
{
  
}
.far fa-video::before
{
  content: "\eda2";
}
.footer
{
  background-color: #2a3947; 
  height: 110px; 
  top: 260px; 
  width: 100%; 
  position: relative;
  border-top: 5px solid rgb(255, 255, 255);
}
.footer ul
{
  color: white;
  font-size: 10px;
  padding-top: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  text-align: left;
  margin-left: 110px;
}
.footer li
{
  display: inline-block;
  margin: 20px 20px 20px 20px;
}