@import url(https://fonts.googleapis.com/css?family=Open+Sans:wght@300;408;500;600;788&display-swap); 

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
}
.container{
    width: 100%;
    border: 10cm;
}
body, ul {
    margin: 0;
    padding: 0;
  }
.logo
{
  font-size: 50px;
  color: aliceblue;
}
.navbar
{
    background-color: #8617b9; 
    height: 75px; 
}

.navbar li
{
    display: inline-block;
    padding: 15px 20px;
}

.logo
{
    padding: auto;
}

.search-container
{
  padding: 0 690px;
  padding-right: 10px;
  padding-bottom: 0;
  border-radius: 50%;
}
.navbar2 
{
  background-color: #ebebeb; 
  height: 50px; 
}
.navbar2 ul {
  display: inline-block;
  padding-top: 13px;
  padding-left: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;

}
.search-box
{
  color: white;
}
.navbar2 .btn
{
    color: bisque;
}
.navbar2 button:last-child
{
  
}
.bgimg
{
  height: auto;
}